extends base.pug

block content
    h4 Change Title of notice
    form(method="POST")
        input(name="title",placeholder="Notice Title", value=notice.title, required)
        input(value="Save",type="submit")