extends base.pug
include mixins/Daynotice

block content
    h2 Welcome here you will see the day of notice
    each info in notices
       +Daynotice(info)
    else
        div Sorry nothing found.
    
    a(href="list") Go to the List